:root {
    background: linear-gradient(
            57deg,
            hsl(246, 73%, 10%) 0%,
            hsl(223, 76%, 21%) 36%,
            hsl(213, 85%, 11%) 75%,
            hsl(264, 80%, 12%) 100%
        )
        fixed;
    background-blend-mode: overlay;
}

[class^='page-'] {
    position: relative;
    min-height: 100vh;
    z-index: 3;
}

body,
html {
    overflow-x: clip;
    color: rgba(255, 244, 234, 1);
    overscroll-behavior-y: none;
}

p {
    font-size: 1.4rem;
}
