/* Импорт стилей */
@import 'styles/input.css';
@import 'styles/button.css';

/* Normalize CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

html,
body,
#root {
    font-family: 'Montserrat Alternates', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

img {
    outline: 1px solid rgba(255, 255, 255, 0.1);
    outline-offset: -1px;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    line-height: normal;
}

h1,
h2,
h3 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: none;
}
